@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic)
@import 'nib'

// VARIABLES
// ---------
base_font_size   = 14px
base_line_height = 20px
text_color       = #000
link_color       = #000
max_width        = 720px

// BASE
// ----
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html, body
  min-height: 100%

body
  margin: (base_line_height * 4) auto
  width: max_width
  font-size: base_font_size
  line-height: base_line_height
  font-family: 'Droid Serif', serif
  font-style: normal
  font-weight: 400
  color: text_color
  
  a, a:visited
    color: link_color
    text-decoration: none
    &:hover
      color: link_color
      text-decoration: underline

  // LOADING INDICATOR
  &.loading
    background: #fff url('../images/load.gif') center center no-repeat

h1, h2, h3, h4
  font-size: base_font_size
  line-height: base_line_height
  font-weight: normal

h1
  text-align: center
  margin: base_line_height
  text-decoration: underline

h3, .description
  font-size: base_font_size - 2
  font-family: 'Lucida Grande', sans-serif

nav
  margin: base_line_height 0
  text-align: left

// STRUCTURE
// ---------

.block
  padding: base_line_height 0
  margin: base_line_height 0
  img
    border: 1px solid rgba(0,0,0,.1)

.metadata
  margin: base_line_height 0
  .description
    border-left: 2px solid #ccc
    padding-left: (base_line_height / 2)
    color: #666

// NON-SEMANTIC / UTILITY
// -------
.hide
  display: none

.show
  display: block

.meta-sep
  color: #ccc
  margin: 0 base_line_height * 0.25

.arena-mark
  width: 21px
  height: 12px
  background: transparent url('../images/arena-mark.png') no-repeat center center
