@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono)
@import 'nib'

// VARIABLES
// ---------
base_font_size   = 14px
base_line_height = 20px
unit             = base_line_height
text_color       = #111
link_color       = #111
bg_color         = #eee
max_width        = 720px
serif_family     = 'Times New Roman', serif
sans_family      = 'Droid Sans Mono', sans-serif

// BASE
// ----
*
  box-sizing: border-box

html, body
  height: 100%

  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

body
  font-family: sans_family
  font-size: base_font_size
  line-height: base_line_height
  font-weight: 400
  color: text_color
  
  a, a:visited
    color: link_color
    text-decoration: none
    &:hover
      color: link_color
      text-decoration: underline

  // LOADING INDICATOR
  &.loading
    background: #fff url('../images/loader_fff.gif') center center no-repeat

  &.error
    background: red

h1, h2, h3, h4
  font-size: base_font_size
  line-height: base_line_height
  font-weight: normal

blockquote
  border-left: 4px solid #111
  margin: 0
  padding: 0 0 0 unit

input
  border: 1px solid
  border-color: #ddd #999 #999 #ddd
  font-size: base_font_size * 2
  padding: (unit/2) unit
  transition: all 0.25s

  &:focus
    outline: none
    box-shadow: 0 0 unit rgba(0,0,0,.25)


// NON-SEMANTIC / UTILITY
// -------
.hide
  display: none

.show
  display: block

.meta-sep
  color: #ccc
  margin: 0 base_line_height * 0.25

.arena-mark
  width: 21px
  height: 12px
  background: transparent url('../images/arena-mark.png') no-repeat center center

// PAGINATION NAV
// --------------
.area
  position: fixed
  top: 0
  left: 0
  right: 0
  height: unit*4
  z-index: 1
  opacity: .5
  transition: opacity 0.25s
  
.area:hover
  opacity: 1

.pagination
  position: fixed
  top: unit
  right: unit
  z-index: 10
  clearfix()

.btn
  display: inline-block
  background-color: rgba(0,0,0,.75)
  
  padding: 0 (unit/2)
  line-height: unit*1.5
  text-align: center
  color: #fff !important
  text-shadow: -1px -1px 0 #000

// PAGE TITLE
// ----------
header.information
  position: fixed
  top: unit
  left: unit
  z-index: 10

  .metadata
    clearfix()
    padding: (unit/2) (unit/2) 0 (unit/2)
    background-color: #fff
    max-width: 500px
    box-shadow: 2px 2px 2px rgba(0,0,0,.125)
    margin-top: unit

    div
      margin-bottom: (unit/2)


// STRUCTURE
// ---------
.occupy
  iframe, embed, object, &.middle-outer
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    margin: 0
    border: none

.full
  text-align: center
  
  // TEXT DISPLAY
  // ------------
  .content
    width: max_width
    margin: unit auto
    text-align: left
    font-family: serif_family
    font-size: base_font_size + 10
    line-height: base_line_height + 10
    -webkit-font-smoothing: subpixel-antialiased

// IMAGE DISPLAY
// -------------
.slide
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow-y: scroll
  transition: opacity 0.05s

  &.image
      background: #fff
    &.loading
      background: #eee url('../images/loader_eee.gif') center center no-repeat
      img
        opacity: 0
    &.done
      img
        opacity: 1

  .wrap
    display: table
    width: 100%
    height: 100%

    .middle
      display: table-cell
      width: 100%
      height: 100%
      text-align: center
      vertical-align: middle

      img
        box-shadow: 2px 2px 2px rgba(0,0,0,.125)

// OVERVIEW
// --------
#blocks.grid
  clearfix()
  background-color: #000
  padding-top: unit*4

  .block
    height: 200px
    display: inline-block
    transition: opacity 0.25s

    .channel, .text
      height: 100%
      width: 200px
      padding: 10px
      background: #ccc
      display: inline-block
      vertical-align: bottom

    .text
      background: #aaa

    img
      vertical-align: bottom

    &:hover
      opacity: .5

    a
      display: block
      height: 100%
      width: 100%
      color: #fff
