@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono)
@import 'nib'

// VARIABLES
// ---------
base_font_size   = 14px
base_line_height = 20px
unit             = base_line_height
text_color       = #000
link_color       = #000
bg_color         = #eee
max_width        = 720px
serif_family     = 'Times New Roman', serif
sans_family      = 'Droid Sans Mono', sans-serif

// BASE
// ----
*
  box-sizing: border-box

html, body
  min-height: 100%
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

body
  font-family: sans_family
  font-size: base_font_size
  line-height: base_line_height
  font-weight: 400
  color: text_color
  
  a, a:visited
    color: link_color
    text-decoration: none
    &:hover
      color: link_color
      text-decoration: underline

  // LOADING INDICATOR
  &.loading
    background: #fff url('../images/load.gif') center center no-repeat

  &.error
    background: red

h1, h2, h3, h4
  font-size: base_font_size
  line-height: base_line_height
  font-weight: normal

input
  border: 1px solid
  border-color: #ddd #999 #999 #ddd
  font-size: base_font_size * 2
  padding: (unit/2) unit
  transition: all 0.25s

  &:focus
    outline: none
    box-shadow: 0 0 unit rgba(0,0,0,.25)


// NON-SEMANTIC / UTILITY
// -------
.hide
  display: none

.show
  display: block

.meta-sep
  color: #ccc
  margin: 0 base_line_height * 0.25

.arena-mark
  width: 21px
  height: 12px
  background: transparent url('../images/arena-mark.png') no-repeat center center

// PAGINATION NAV
// --------------
.area
  position: fixed
  top: 0
  left: 0
  right: 0
  height: unit*4
  z-index: 1
  opacity: 0
  transition: opacity 0.25s
  
.area:hover
  opacity: 100

.pagination
  position: fixed
  top: unit
  right: unit
  z-index: 10
  clearfix()

.btn
  padding: (unit/3) (unit/2)
  display: block
  float: left
  background-color: rgba(255,255,255,.75)
  color: #000
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  text-transform: uppercase
  box-shadow: inset -1px -1px 0px #868a8e
  border: 1px solid
  border-color: #eee #ccc #ccc #eee
  font-weight: 400

  &:hover
    color: #000
  &:active
    box-shadow: inset 1px 1px 0px #868a8e
    border-color: #333 #eee #eee #333

// PAGE TITLE
// ----------
header.title
  position: fixed
  top: unit
  left: unit
  z-index: 10
  whitespace: nowrap
  clearfix()

// STRUCTURE
// ---------
.occupy
  iframe, embed, object, &.middle-outer
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1
    margin: 0
    border: none

.full
  text-align: center
  
  // TEXT DISPLAY
  // ------------
  .content
    width: max_width
    margin: unit auto
    text-align: left
    font-family: serif_family
    font-size: base_font_size + 10
    line-height: base_line_height + 10

// IMAGE DISPLAY
// -------------
.slide
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: #eee
  overflow-y: scroll

  .wrap
    display: table
    width: 100%
    height: 100%

    .middle
      display: table-cell
      width: 100%
      height: 100%
      text-align: center
      vertical-align: middle

      img
        box-shadow: 2px 2px 2px rgba(0,0,0,.25)

.metadata
  margin: base_line_height 0
  .description
    border-left: 2px solid #ccc
    padding-left: (base_line_height / 2)
    color: #666

// OVERVIEW
// --------
#blocks.grid
  background-color: #000
  text-align: center

  .block
    width: 250px
    height: 250px
    display: inline-block
    vertical-align: middle
    transition: opacity 0.25s

    &:hover
      opacity: .5

    a
      display: inline-block
      line-height: 250px
      width: 100%
      color: #fff